h1 {
    color: #000;
}
.NewProduct {
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 5vw;
    border-radius: 6.5625em;
    height: 40vw;
    width: 70vw;
}
input {
    width: 22vw;
    padding: 1vw;
    margin-top: .5vw;
}
button {
    width: 12.5em;
    padding: 0.5625em;
    margin-top: 1em;
    background: #000;
    border-color: #000;
    border-width: 0.09375;
    border-style: solid;
    border-radius: 0.5625em;
}
.btnForm {
    color: #fff;
}
.btn {
    display: flex;
    justify-content: center;
}
